
// Info datos navegacion 


.contenedor {
    width: 100%;
    padding: 8px;

 
}

.menu__logo {
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    
}

.input-menu {
    border-radius: 30px;
}

.menu__nav {

    width: 50%;
}
// media querie de barra nav li
@media (min-width:768px) {
    .menu__nav {

        width: 25%;
    }
}



.menu__nav ul li a {
    text-decoration: none;
    text-transform: uppercase;
}
.menu__nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    

}

// division menu
.menu {
    width: 100%;
    padding: 10px;
    border-bottom: 1px solid gray;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

// li navegacion para hacerla desaparecer
@media (max-width:768px) {
    .menu__nav ul {
        display: flex;
        justify-content: space-around;
       
       
    }
 
    
}

.input-menu {
    border-radius: 30px;
}


img {
    width: 100%;
    padding: 20px 0px;
  
}

h2 {
    padding: 8px 0px;
    text-align: center;
}

